
@model HomePageViewModel
@{ 
    ViewBag.Title = "Customers";
}

    <h1>Customers </h1>
    
    <table>
        @foreach (var customer in Model.Customers)
        {
            <partial name="_Summary" model="customer" />
        }
    </table>
<a asp-action="Create" asp-controller="Home">Create</a>
@section footer{
    <h4>@Model.CurrentMessage</h4>
 }
